{% extends 'discography/base.html' %}

{% block title %}Добавить Альбом{% endblock %}

{% block content %}

<h2 style="text-align:center">Добавить Альбом</h2>

<form action="{% url 'album_create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.content.errors }}
    <table style="text-align: left;">
        {{form.as_table}}
    </table>
    <button type="submit">Добавить</button>
</form>

{% endblock %}