{% extends 'discography/base.html' %}

{% block title %}Обновление Альбома{% endblock %}

{% block content %}
<h2 style="text-align:center">Обновление Альбома</h2>

<form action="{% url 'album_update' album.slug %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.content.errors }}

    <table>
        {{form.as_table}}
    </table>
    <button type="submit">Применить</button>
</form>

{% endblock %}
