{% extends 'discography/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2 style="text-align:center">Список Артистов</h2>
{% if is_paginated %}
<div class="pagination" >
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&laquo;пред.</a>
              {% endif %}
              <span class="page-current">
                  Стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">след.&raquo;</a>
              {% endif %}
          </span>
</div>
{% endif %}

<br>

{% for artist in object_list %}
<table>
    <tbody>
    <tr>
        <td><img src="{{ artist.photo.url}}" class="img-thumbnail" alt="artist" width="85px"></td>
        <td><a href="{{ artist.get_absolute_url }}" class="link-dark"/>
            <ul>{{ artist.name }}</ul>
        </td>
        {% empty %}
        <td><b>Артистов нет</b></td>
    </tr>
    </tbody>
</table>

{% endfor %}

{% endblock %}
