{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<style>
a {
    text-decoration: none;
}
article {
  float: center;
  padding: 35px;
  width: 100%;
}

</style>

<body style="background: url({% static 'discography/images/background.gif' %}">

<div class="m-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'discography/images/vinyl.ico' %}" alt="icon" height="96"
                     class="d-inline-block align-text-center">
                Music Catalog
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav">
                {% for item in menu %}
                    {% if request.resolver_match.url_name == item.url_name %}
                    <a class="nav-link active" aria-current="page" href="{% url item.url_name %}">{{ item.title }}</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url item.url_name %}">{{ item.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
                <form class="d-flex" action="{% url 'search_result' %}" method="get">
                    <div class="input-group">
                            <input type="text" name='query' class="form-control" placeholder="поиск артиста">
                            <button type="submit" class="btn btn-secondary">go</button>
                    </div>
                </form>
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link">Login</a>
                </div>
            </div>
        </div>
    </nav>

</div>

<article>
    {% block content %}
    {% endblock %}
</article>

</body>
</html>

