{% extends 'discography/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<p class="h1" style="text-align:center">Что это?<p>
<p class="lead">Тут можно посмотреть информацию об исполнителях и их альбомах.
    Добавить артиста, альбом, удалить альбом, работает поиск по имени артиста на латинице (кириллица с
    ограничением
    sqlite)
</p>


{% endblock %}